.offersSectionMain{
    background-color: #d7d7d7;
    .mainSections{
        z-index: 3;
        background-color: #d7d7d7;
        overflow: hidden;
        .main {
            display: flex;
            margin: 0;
            width: 100vw;
            min-height: 80vh;
            padding: 10vh 0 0 0;
        }
    }
    
    .svgContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        margin: 0;
        top: -1%;
        .svgDiv {
            box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.75);
            position: absolute;
            height: 15550%;
            border-radius: 0% 0% 50% 50%;
            background-color: #d7d7d7;
            z-index: 3;
        }
    }
}

// Assume devices that can hover and have a fine pointer (e.g., mouse) are not touch devices
@media (hover: hover) and (pointer: fine) {
    .offersSectionMain{
        .svgContainer{
            .svgDiv{
                width: 130%;
                left: -15%;
            }
        }
    }
}

// For touch devices (which typically can't hover and have coarse pointers), allow vertical scrolling
@media (hover: none) and (pointer: coarse) {
    .offersSectionMain{
        .svgContainer{
            .svgDiv{
                width: 100%;
                left: 0%;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .offersSectionMain{
        .mainSections{
            .main {
                display: flex;
                margin: 0;
                width: 100vw;
                min-height: 80vh;
                padding: 30vh 0 0 0;
            }
        }
    }
}