.mainContactIntro {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 100%;
    height: 150vh;
    position: relative;
    padding: 5vh 0 30vh 0;
    background-color: #fff;
    margin: 0;
    gap: 20vh;
    font-family: 'Inter' , sans-serif;
    overflow: hidden;

    .toast {
        transition: all 0.3s ease-in-out;
        ol{
            list-style-type: none;
            margin: 0;
            padding: 0;
            position: fixed;
            bottom: 5%;
            left: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            border-radius: 25px;
            font-size: 1.5rem;
            font-weight: 300;
            background-color: #d7d7d7;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
            z-index: 3;
            li{
                margin: 0;
                padding: 1rem 2rem;
                display: flex;
                gap: 1rem;
                border: 1px solid #22272d;
                border-radius: 25px;
                align-items: center;
                justify-content: center;
                div{
                    gap: 1rem;
                    display: block;
                    justify-content: center;
                    align-items: center;
                    div{
                        padding: 0.2rem 0;
                    }
                    &:nth-of-type(1){
                        font-size: 1.5rem;
                        font-weight: 500;
                        color: #22272d;
                    }
                    &:nth-of-type(2){
                        font-size: 1.2rem;
                        color: #22272d;
                        font-weight: 300;
                    }

                }
                button{
                    position: relative;
                    border: none;
                    background-color: transparent;
                    transition: all 0.5s ease-in-out;
                    height: fit-content;
                    padding: 0.2rem;
                    border-radius: 10px;
                    &:hover{
                        cursor: pointer;
                        svg{
                            color: #6a6a6a;
                        }
                    }
                    svg{
                        position: relative;
                        width: 25px;
                        height: 25px;
                        cursor: pointer;
                        color: #22272d;
                    }
                }
            }
        }

    }
    .headerIntro{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        position: relative;
        z-index: 1;
        h1{
            font-size: 5rem;
            font-weight: 500;
            color: #22272d;
            margin: 0;
        }
        .imageContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 200px;
            position: absolute;
            border-radius: 50%;
            right: 5%;
            bottom: -15%;
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
    }
    .formContainer{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        gap: 5vw;

        .addInfo{
            display: flex;
            flex-direction: column;
            justify-content: top;
            align-items: left;
            position: relative;
            height: 105%;
            padding: 1.5rem 1rem;
            .info{
                display: flex;
                flex-direction: column;
                h2{
                    font-size: 1.2rem;
                    font-weight: 400;
                    color: #6a6a6a;
                    margin-right: 1rem; 
                    padding: 0.5rem 0;
                }
                p {
                    font-size: 1.6rem;
                    font-weight: 300;
                    color: #22272d;
                    margin: 0;
                    padding: 0.15em;
                }
                a {
                    font-size: 1.6rem;
                    font-weight: 300;
                    color: #22272d;
                    text-decoration: none;
                    transition: all 0.3s ease-in-out;
                    padding: 0.15em;

    
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 70%;
            .buttonSubmit {
                position: relative;
                z-index: 2;
                cursor: pointer;
                .mainButton {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    width: 200px;
                    height: 100px;
                    border-radius: 50px;
                    background-color: #22272d;
                    overflow: hidden;
                
                    .dot {
                        width: 100%;
                        height: 150%;
                        scale: 1.2;
                        background-color: #fb6b28;
                        border-radius: 50%;
                        z-index: 0;
                    }
                
                    .link {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        list-style: none;
                        text-decoration: none;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        p{
                            padding: 0 2vh 0 2vh;
                            margin: 0;
                            font-size: 1.5em;
                            font-weight: 400;
                            color: #fff;
                            font-family: 'Inter' , sans-serif;
                            transition: color 0.3s cubic-bezier(0.26, 0, 0.72, 1);
                            z-index: 2;
                        }
                    }
                
                    &:hover {
                        p{
                            color: #22272d;
                        }
                    }
                }
            }
            .inputContainer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                border-top: 1px solid #22272d;
                padding: 1rem 0;
                width: 100%;
                flex-direction: column;
                position: relative;
                
                textarea{
                    width: 90%;
                    padding: 1rem;
                    border: none;
                    font-size: 1.5rem;
                    font-weight: 300;
                    background-color: transparent;
                    color: #6a6a6a;
                    resize: none;
                    height: 5rem;
                    font-family: 'Inter' , sans-serif;
                    &:focus{
                        outline: none;
                    }
                }
                .selectWrapper{
                    width: 100%;
                    position: relative;
                }
                
                input{
                    width: 90%;
                    padding: 1rem;
                    border: none;
                    font-size: 1.5rem;
                    font-weight: 300;
                    background-color: transparent;
                    color: #6a6a6a;
                    font-family: 'Inter' , sans-serif;

                    &:focus{
                        outline: none;
                    }  
                }
                .inputText{
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    width: 100%;
                    p{
                        font-size: 2rem;
                        font-weight: 300;
                        margin: 0;
                        span {
                            font-size: 1.5rem;
                            font-weight: 300;
                            color: #6a6a6a;
                            margin-right: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1550px) {
    .mainContactIntro {
        .headerIntro{
            h1{
                font-size: 4rem;
            }
            .imageContainer{
                width: 180px;
                height: 180px;
                right: 10%;
            }
        }
        .formContainer{
    
            .addInfo{
                h2{
                    font-size: 1.2rem;
                }
                p {
                    font-size: 1.5rem;
                }
                a {
                    font-size: 1.5rem;
                }
            }
            form{
                .buttonSubmit {
                    .mainButton {
                        width: 180px;
                        height: 90px;
                    
                        .link {
                            p{
                                font-size: 1.5em;
                            }
                        }
                    }
                }
                .inputContainer{
                    
                    textarea{
                        font-size: 1.5rem;
                    }
                    
                    input{
                        font-size: 1.5rem;
                        color: #6a6a6a; 
                    }
                    .inputText{
                        p{
                            font-size: 1.8rem;
                            span {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
    
}

@media only screen and (max-width: 1450px) {
    .mainContactIntro {
        .headerIntro{
            h1{
                font-size: 3.5rem;
            }
            .imageContainer{
                width: 150px;
                height: 150px;
                right: 10%;
            }
        }
        .formContainer{
    
            .addInfo{
                h2{
                    font-size: 1.1rem;
                }
                p {
                    font-size: 1.4rem;
                }
                a {
                    font-size: 1.4rem;
                }
            }
            form{
                .buttonSubmit {
                    .mainButton {
                        width: 150px;
                        height: 80px;
                    
                        .link {
                            p{
                                font-size: 1.4em;
                            }
                        }
                    }
                }
                .inputContainer{
                    
                    textarea{
                        font-size: 1.4rem;
                    }
                    
                    input{
                        font-size: 1.4rem;
                        color: #6a6a6a; 
                    }
                    .inputText{
                        p{
                            font-size: 1.7rem;
                            span {
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
    
}

@media only screen and (max-width: 1250px) {
    .mainContactIntro {
        height: 160vh;
        .headerIntro{
            h1{
                font-size: 3rem;
            }
            .imageContainer{
                width: 130px;
                height: 130px;
                right: 10%;
            }
        }
        .formContainer{
    
            .addInfo{
                h2{
                    font-size: 1rem;
                }
                p {
                    font-size: 1.3rem;
                }
                a {
                    font-size: 1.3rem;
                }
            }
            form{
                .buttonSubmit {
                    .mainButton {
                        width: 130px;
                        height: 70px;
                    
                        .link {
                            p{
                                font-size: 1.3em;
                            }
                        }
                    }
                }
                .inputContainer{
                    
                    textarea{
                        font-size: 1.3rem;
                    }
                    
                    input{
                        font-size: 1.3rem;
                        color: #6a6a6a; 
                    }
                    .inputText{
                        p{
                            font-size: 1.6rem;
                            span {
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
            }
        }
    }
    
}

@media only screen and (max-width: 1000px) and (min-height: 600px) {
    .mainContactIntro {
        height: 175vh;
        .headerIntro{
            h1{
                font-size: 2.5rem;
            }
            .imageContainer{
                width: 120px;
                height: 120px;
                right: 10%;
            }
        }
        .formContainer{
    
            .addInfo{
                h2{
                    font-size: 1rem;
                }
                p {
                    font-size: 1.2rem;
                }
                a {
                    font-size: 1.2rem;
                }
            }
            form{
                .buttonSubmit {
                    .mainButton {
                        width: 120px;
                        height: 60px;
                    
                        .link {
                            p{
                                font-size: 1.2em;
                            }
                        }
                    }
                }
                .inputContainer{
                    
                    textarea{
                        font-size: 1.2rem;
                    }
                    
                    input{
                        font-size: 1.2rem;
                        color: #6a6a6a; 
                    }
                    .inputText{
                        p{
                            font-size: 1.5rem;
                            span {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
    
}

@media only screen and (max-width: 1050px) and (min-height: 1000px) {
    .mainContactIntro {
        height: 120vh;
        padding: 15vh 0 20vh 0;
        gap: 10vh;
        .headerIntro{
            
            h1{
                font-size: 3rem;
            }
            .imageContainer{
                width: 120px;
                height: 120px;
                right: 10%;
            }
        }
        .formContainer{
    
            .addInfo{
                .info{
                    h2{
                        padding: 0.2em;
                        font-size: 1.2rem;
                    }
                    p {
                        padding: 0.1em;
                        font-size: 1.5rem;
                    }
                    a {
                        padding: 0.1em;
                        font-size: 1.5rem;
                    }
                }
            }
            form{
                .buttonSubmit {
                    .mainButton {
                        width: 120px;
                        height: 60px;
                    
                        .link {
                            p{
                                font-size: 1.2em;
                            }
                        }
                    }
                }
                .inputContainer{
                    
                    textarea{
                        font-size: 1.2rem;
                    }
                    
                    input{
                        font-size: 1.2rem;
                        color: #6a6a6a; 
                    }
                    .inputText{
                        p{
                            font-size: 1.8rem;
                            span {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
    
}

@media only screen and (max-width: 900px) and (min-height: 800px) {
    .mainContactIntro {
        height: 120vh;
        padding: 15vh 0 20vh 0;
        gap: 10vh;
        .headerIntro{
            
            h1{
                font-size: 3rem;
            }
            .imageContainer{
                width: 120px;
                height: 120px;
                right: 10%;
            }
        }
        .formContainer{
    
            .addInfo{
                .info{
                    h2{
                        padding: 0.2em;
                        font-size: 1rem;
                    }
                    p {
                        padding: 0.1em;
                        font-size: 1.2rem;
                    }
                    a {
                        padding: 0.1em;
                        font-size: 1.2rem;
                    }
                }
            }
            form{
                .buttonSubmit {
                    .mainButton {
                        width: 120px;
                        height: 60px;
                    
                        .link {
                            p{
                                font-size: 1.2em;
                            }
                        }
                    }
                }
                .inputContainer{
                    
                    textarea{
                        font-size: 1.2rem;
                    }
                    
                    input{
                        font-size: 1.2rem;
                        color: #6a6a6a; 
                    }
                    .inputText{
                        p{
                            font-size: 1.5rem;
                            span {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
    
}

// mobile viewports
@media only screen and (max-width: 450px) and (max-height: 950px) {
    .mainContactIntro {
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        width: 100%;
        height: 150vh;
        position: relative;
        padding: 5vh 0 10vh 0;
        background-color: #fff;
        margin: 0;
        gap: 10vh;
        font-family: 'Inter' , sans-serif;
        z-index: 2;
    
        .toast {
            transition: all 0.3s ease-in-out;
            ol{
                list-style-type: none;
                margin: 0;
                padding: 0;
                position: fixed;
                bottom: 5%;
                left: 5%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                border-radius: 25px;
                font-size: 1.2rem;
                font-weight: 300;
                background-color: #d7d7d7;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
                z-index: 3;
                li{
                    margin: 0;
                    padding: 0.5rem 1rem;
                    display: flex;
                    gap: 1rem;
                    border: 1px solid #22272d;
                    border-radius: 25px;
                    align-items: center;
                    justify-content: center;
                    div{
                        gap: 0.5rem;
                        display: block;
                        justify-content: center;
                        align-items: center;
                        div{
                            padding: 0.2rem 0;
                        }
                        &:nth-of-type(1){
                            font-size: 1.2rem;
                            font-weight: 500;
                            color: #22272d;
                        }
                        &:nth-of-type(2){
                            font-size: 1rem;
                            color: #22272d;
                            font-weight: 300;
                        }
    
                    }
                    button{
                        position: relative;
                        border: none;
                        background-color: transparent;
                        transition: all 0.5s ease-in-out;
                        height: fit-content;
                        padding: 0.2rem;
                        border-radius: 10px;
                        &:hover{
                            cursor: pointer;
                            svg{
                                color: #6a6a6a;
                            }
                        }
                        svg{
                            position: relative;
                            width: 25px;
                            height: 25px;
                            cursor: pointer;
                            color: #22272d;
                        }
                    }
                }
            }
    
        }
        .headerIntro{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            position: relative;
            flex-direction: column-reverse;
            h1{
                font-size: 3rem;
                font-weight: 500;
                color: #22272d;
                margin: 0;
            }
            .imageContainer{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                right: 5%;
                top: 0;
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
        }
        .formContainer{
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            width: 90%;
            gap: 5vw;
    
            .addInfo{
                display: none;
            }
            form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 90%;
                .buttonSubmit {
                    position: relative;
                    z-index: 2;
                    cursor: pointer;
                    .mainButton {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        width: 150px;
                        height: 80px;
                        border-radius: 50px;
                        background-color: #22272d;
                        overflow: hidden;
                    
                        .dot {
                            width: 100%;
                            height: 150%;
                            scale: 1.2;
                            background-color: #fb6b28;
                            border-radius: 50%;
                            z-index: 0;
                        }
                    
                        .link {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            list-style: none;
                            text-decoration: none;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 100%;
                            height: 100%;
                            z-index: 1;
                            p{
                                padding: 0 2vh 0 2vh;
                                margin: 0;
                                font-size: 1.2em;
                                font-weight: 400;
                                color: #fff;
                                font-family: 'Inter' , sans-serif;
                                transition: color 0.3s cubic-bezier(0.26, 0, 0.72, 1);
                                z-index: 2;
                            }
                        }
                    
                        &:hover {
                            p{
                                color: #22272d;
                            }
                        }
                    }
                }
                .inputContainer{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    border-top: 1px solid #22272d;
                    padding: 1rem 0;
                    width: 100%;
                    flex-direction: column;
                    position: relative;
                    
                    textarea{
                        width: 90%;
                        padding: 1rem;
                        border: none;
                        font-size: 1.2rem;
                        font-weight: 300;
                        background-color: transparent;
                        color: #6a6a6a;
                        resize: none;
                        height: 5rem;
                        font-family: 'Inter' , sans-serif;
                        &:focus{
                            outline: none;
                        }
                    }
                    .selectWrapper{
                        width: 100%;
                        position: relative;
                    }
                    
                    input{
                        width: 90%;
                        padding: 1rem;
                        border: none;
                        font-size: 1.2rem;
                        font-weight: 300;
                        background-color: transparent;
                        color: #6a6a6a;
                        font-family: 'Inter' , sans-serif;
    
                        &:focus{
                            outline: none;
                        }  
                    }
                    .inputText{
                        display: flex;
                        justify-content: left;
                        align-items: center;
                        width: 100%;
                        p{
                            font-size: 1.5rem;
                            font-weight: 300;
                            margin: 0;
                            span {
                                font-size: 1.2rem;
                                font-weight: 300;
                                color: #6a6a6a;
                                margin-right: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) and (max-height: 850px) {
    .mainContactIntro {
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        width: 100%;
        height: 150vh;
        position: relative;
        padding: 5vh 0 10vh 0;
        background-color: #fff;
        margin: 0;
        gap: 10vh;
        font-family: 'Inter' , sans-serif;
        z-index: 2;
    
        .toast {
            transition: all 0.3s ease-in-out;
            ol{
                list-style-type: none;
                margin: 0;
                padding: 0;
                position: fixed;
                bottom: 5%;
                left: 5%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                border-radius: 25px;
                font-size: 1.2rem;
                font-weight: 300;
                background-color: #d7d7d7;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
                z-index: 3;
                li{
                    margin: 0;
                    padding: 0.5rem 1rem;
                    display: flex;
                    gap: 1rem;
                    border: 1px solid #22272d;
                    border-radius: 25px;
                    align-items: center;
                    justify-content: center;
                    div{
                        gap: 0.5rem;
                        display: block;
                        justify-content: center;
                        align-items: center;
                        div{
                            padding: 0.2rem 0;
                        }
                        &:nth-of-type(1){
                            font-size: 1.2rem;
                            font-weight: 500;
                            color: #22272d;
                        }
                        &:nth-of-type(2){
                            font-size: 1rem;
                            color: #22272d;
                            font-weight: 300;
                        }
    
                    }
                    button{
                        position: relative;
                        border: none;
                        background-color: transparent;
                        transition: all 0.5s ease-in-out;
                        height: fit-content;
                        padding: 0.2rem;
                        border-radius: 10px;
                        &:hover{
                            cursor: pointer;
                            svg{
                                color: #6a6a6a;
                            }
                        }
                        svg{
                            position: relative;
                            width: 25px;
                            height: 25px;
                            cursor: pointer;
                            color: #22272d;
                        }
                    }
                }
            }
    
        }
        .headerIntro{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            position: relative;
            flex-direction: column-reverse;
            h1{
                font-size: 2.5rem;
                font-weight: 500;
                color: #22272d;
                margin: 0;
            }
            .imageContainer{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                right: 5%;
                top: -5%;
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
        }
        .formContainer{
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            width: 90%;
            gap: 5vw;
    
            .addInfo{
                display: none;
            }
            form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 90%;
                .buttonSubmit {
                    position: relative;
                    z-index: 2;
                    cursor: pointer;
                    .mainButton {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        width: 150px;
                        height: 80px;
                        border-radius: 50px;
                        background-color: #22272d;
                        overflow: hidden;
                    
                        .dot {
                            width: 100%;
                            height: 150%;
                            scale: 1.2;
                            background-color: #fb6b28;
                            border-radius: 50%;
                            z-index: 0;
                        }
                    
                        .link {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            list-style: none;
                            text-decoration: none;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 100%;
                            height: 100%;
                            z-index: 1;
                            p{
                                padding: 0 2vh 0 2vh;
                                margin: 0;
                                font-size: 1em;
                                font-weight: 400;
                                color: #fff;
                                font-family: 'Inter' , sans-serif;
                                transition: color 0.3s cubic-bezier(0.26, 0, 0.72, 1);
                                z-index: 2;
                            }
                        }
                    
                        &:hover {
                            p{
                                color: #22272d;
                            }
                        }
                    }
                }
                .inputContainer{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    border-top: 1px solid #22272d;
                    padding: 1rem 0;
                    width: 100%;
                    flex-direction: column;
                    position: relative;
                    
                    textarea{
                        width: 90%;
                        padding: 1rem;
                        border: none;
                        font-size: 1rem;
                        font-weight: 300;
                        background-color: transparent;
                        color: #6a6a6a;
                        resize: none;
                        height: 5rem;
                        font-family: 'Inter' , sans-serif;
                        &:focus{
                            outline: none;
                        }
                    }
                    .selectWrapper{
                        width: 100%;
                        position: relative;
                    }
                    
                    input{
                        width: 90%;
                        padding: 1rem;
                        border: none;
                        font-size: 1rem;
                        font-weight: 300;
                        background-color: transparent;
                        color: #6a6a6a;
                        font-family: 'Inter' , sans-serif;
    
                        &:focus{
                            outline: none;
                        }  
                    }
                    .inputText{
                        display: flex;
                        justify-content: left;
                        align-items: center;
                        width: 100%;
                        p{
                            font-size: 1.3rem;
                            font-weight: 300;
                            margin: 0;
                            span {
                                font-size: 1rem;
                                font-weight: 300;
                                color: #6a6a6a;
                                margin-right: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 950px) and (max-height: 450px) {
    .mainContactIntro {
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        width: 100%;
        height: 250vh;
        position: relative;
        padding: 25vh 0 10vh 0;
        background-color: #fff;
        margin: 0;
        gap: 10vh;
        font-family: 'Inter' , sans-serif;
        z-index: 2;
    
        .toast {
            transition: all 0.3s ease-in-out;
            ol{
                list-style-type: none;
                margin: 0;
                padding: 0;
                position: fixed;
                bottom: 5%;
                left: 5%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                border-radius: 25px;
                font-size: 1.2rem;
                font-weight: 300;
                background-color: #d7d7d7;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
                z-index: 3;
                li{
                    margin: 0;
                    padding: 0.5rem 1rem;
                    display: flex;
                    gap: 1rem;
                    border: 1px solid #22272d;
                    border-radius: 25px;
                    align-items: center;
                    justify-content: center;
                    div{
                        gap: 0.5rem;
                        display: block;
                        justify-content: center;
                        align-items: center;
                        div{
                            padding: 0.2rem 0;
                        }
                        &:nth-of-type(1){
                            font-size: 1.2rem;
                            font-weight: 500;
                            color: #22272d;
                        }
                        &:nth-of-type(2){
                            font-size: 1rem;
                            color: #22272d;
                            font-weight: 300;
                        }
    
                    }
                    button{
                        position: relative;
                        border: none;
                        background-color: transparent;
                        transition: all 0.5s ease-in-out;
                        height: fit-content;
                        padding: 0.2rem;
                        border-radius: 10px;
                        &:hover{
                            cursor: pointer;
                            svg{
                                color: #6a6a6a;
                            }
                        }
                        svg{
                            position: relative;
                            width: 25px;
                            height: 25px;
                            cursor: pointer;
                            color: #22272d;
                        }
                    }
                }
            }
    
        }
        .headerIntro{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            position: relative;
            h1{
                font-size: 2.5rem;
                font-weight: 500;
                color: #22272d;
                margin: 0;
            }
            .imageContainer{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                right: 5%;
                top: 0;
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
        }
        .formContainer{
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            width: 90%;
            gap: 5vw;
    
            .addInfo{
                display: none;
            }
            form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 90%;
                .buttonSubmit {
                    position: relative;
                    z-index: 2;
                    cursor: pointer;
                    .mainButton {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        width: 150px;
                        height: 80px;
                        border-radius: 50px;
                        background-color: #22272d;
                        overflow: hidden;
                    
                        .dot {
                            width: 100%;
                            height: 150%;
                            scale: 1.2;
                            background-color: #fb6b28;
                            border-radius: 50%;
                            z-index: 0;
                        }
                    
                        .link {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            list-style: none;
                            text-decoration: none;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 100%;
                            height: 100%;
                            z-index: 1;
                            p{
                                padding: 0 2vh 0 2vh;
                                margin: 0;
                                font-size: 1em;
                                font-weight: 400;
                                color: #fff;
                                font-family: 'Inter' , sans-serif;
                                transition: color 0.3s cubic-bezier(0.26, 0, 0.72, 1);
                                z-index: 2;
                            }
                        }
                    
                        &:hover {
                            p{
                                color: #22272d;
                            }
                        }
                    }
                }
                .inputContainer{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    border-top: 1px solid #22272d;
                    padding: 1rem 0;
                    width: 100%;
                    flex-direction: column;
                    position: relative;
                    
                    textarea{
                        width: 90%;
                        padding: 1rem;
                        border: none;
                        font-size: 1rem;
                        font-weight: 300;
                        background-color: transparent;
                        color: #6a6a6a;
                        resize: none;
                        height: 5rem;
                        font-family: 'Inter' , sans-serif;
                        &:focus{
                            outline: none;
                        }
                    }
                    .selectWrapper{
                        width: 100%;
                        position: relative;
                    }
                    
                    input{
                        width: 90%;
                        padding: 1rem;
                        border: none;
                        font-size: 1rem;
                        font-weight: 300;
                        background-color: transparent;
                        color: #6a6a6a;
                        font-family: 'Inter' , sans-serif;
    
                        &:focus{
                            outline: none;
                        }  
                    }
                    .inputText{
                        display: flex;
                        justify-content: left;
                        align-items: center;
                        width: 100%;
                        p{
                            font-size: 1.3rem;
                            font-weight: 300;
                            margin: 0;
                            span {
                                font-size: 1rem;
                                font-weight: 300;
                                color: #6a6a6a;
                                margin-right: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}