.summary {
    height: 120vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding: 35vh 0 10vh 0;
    position: relative;
    background-color: #fff;
    z-index: 0;

    .svgContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        margin: 0;
        top: 50px;
        z-index: 4;
        .svgDiv {
            box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.75);
            position: absolute;
            border-radius: 0% 0% 50% 50%;
            background-color: #fff;
            z-index: 2;
        }
    }

    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
        width: 100%;
        text-align: left;
        z-index: 5;
        overflow: hidden;
        p{
            font-size: 2rem;
            font-weight: 300;
            color: #22272d;
            margin: 0;
            width: 90%;
            span{
                font-size: 4rem;
                font-weight: 500;
                color: #22272d;
                margin: 0;
            }
        }
    }

    .budget{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
        width: 80%;
        text-align: center;
        background-color: #fff;
        z-index: 6;
        h1{
            font-size: 4rem;
            font-weight: 700;
            color: #22272d;
            margin: 0;
        }
    }

    .points{
        z-index: 5;
    }

}

// Assume devices that can hover and have a fine pointer (e.g., mouse) are not touch devices
@media (hover: hover) and (pointer: fine) {
    .summary{
        .svgContainer{
            .svgDiv{
                width: 130%;
                left: -15%;
            }
        }
    }
}

// For touch devices (which typically can't hover and have coarse pointers), allow vertical scrolling
@media (hover: none) and (pointer: coarse) {
    .summary{
        .svgContainer{
            .svgDiv{
                width: 100%;
                left: 0%;
            }
        }
    }
}

@media only screen and (max-width: 1750px){
    .summary {
        height: 120vh;
        padding: 35vh 0 10vh 0;
    
        .text{
            span{
                font-size: 3rem;
                font-weight: 700;
            }
        }
    }
}

@media only screen and (max-width: 1550px){
    .summary {
        height: 75vh;
        padding: 15vh 0 10vh 0;
    
        .text{
            h1{
                font-size: 4rem;
                font-weight: 700;
            }
            p{
                font-size: 2rem;
                font-weight: 300;
            }
        }
    }
}

@media only screen and (max-width: 1450px){
    .summary {
        height: 75vh;
        padding: 15vh 0 10vh 0;
    
        .text{
            h1{
                font-size: 4rem;
                font-weight: 700;
            }
            p{
                font-size: 2rem;
                font-weight: 300;
            }
        }
    }
}

@media only screen and (max-width: 1050px){
    .summary {
        height: 100vh;
        padding: 5vh 0 10vh 0;
    
        .text{
            h1{
                font-size: 4rem;
                font-weight: 700;
            }
            p{
                font-size: 2rem;
                font-weight: 300;
            }
        }
    }
}

@media only screen and (max-width: 500px){
    .summary {
        height: 300vh;
        padding: 5vh 0 10vh 0;
    
        .text{
            h1{
                font-size: 3rem;
                font-weight: 700;
            }
            p{
                font-size: 2rem;
                font-weight: 300;
            }
        }
    }
}

@media only screen and (max-width: 950px) and (max-height: 500px){
    .summary {
        height: 200vh;
        padding: 5vh 0 10vh 0;
    
        .text{
            h1{
                font-size: 4rem;
                font-weight: 700;
            }
            p{
                font-size: 2rem;
                font-weight: 300;
            }
        }
    }
}