@import '../components/ContactPage/Contact/styles.scss';
@import '../components/ContactPage/Calendly/styles.scss';
@import '../components/ContactPage/Footer/styles.scss';

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    font-family: "Inter" , sans-serif;
    position: relative;
}