.mainOffer__page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 200vh;
    z-index: 2;
    background-color: #fff;
    padding: 35vh 0 25vh 0;

    .main__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        z-index: 2;
        background-color: #fff;
        padding: 15vh 0 45vh 0;

        .textContainer {
            padding: 25vh 0 35vh 0;
            position: relative;
            width: 70vw;
            p {
                text-align: center;
                line-height: 1.5;
                color: #22272d;
                max-width: 80vw;
                font-size: 3em;
                font-weight: 300;
                margin: 0;
                padding: 2em 0 0em 0;
            }
        }

        .description {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: 'Inter', sans-serif;
            gap: 1rem;

            .specialSpan {
                font-weight: 800;
                font-size: 3em;
                color: #ff5100;
            }

            .dateY {
                font-size: 2em;
                font-weight: 400;
                margin-bottom: 0.5rem;
                color: #ff5100;

                &:nth-of-type(4) {
                    margin-bottom: 1rem;
                }
            }

            .text__button {
                font-size: 1.5em;
                font-weight: 400;
                color: #22272d;
            }

            .maintext {
                font-size: 2em;
                font-weight: 400;
                color: #22272d;
                position: relative;
                width: 60%;
                padding: 0 0 5vh 0;

                span {
                    &:nth-of-type(1) {
                        font-size: 3em;
                        font-weight: 800;
                        color: #ff5100;
                    }

                    &:nth-of-type(2) {
                        font-weight: 300;
                    }
                }
            }

            .buttonContainer {
                position: relative;
                padding: 5vh 0 0 0;

                .button {
                    height: 100px;
                    width: 200px;
                    background-color: #22272d;
                    border-radius: 50px;

                    p {
                        font-size: 1.5rem;
                        margin: 0;
                        font-weight: 400;
                        font-family: 'Inter', sans-serif;
                    }
                }
            }

            p {
                text-align: center;
                margin: 0;
            }

            .textSales {
                position: relative;
                padding-top: -5vh;

                p {
                    font-size: 2em;
                    line-height: 1.2;
                    text-align: center;
                    font-weight: 300;

                    span {
                        font-weight: 500;
                        font-size: 1.2em;
                        color: #ff5100;
                    }
                }
            }
        }
    }

    .svgContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 1;

        .svgDiv {
            box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.75);
            position: absolute;
            width: 100%;
            height: 100%; /* Ensure it has some height */
            border-radius: 0% 0% 50% 50%;
            background-color: white;
            z-index: 1;
        }
    }
}

// Assume devices that can hover and have a fine pointer (e.g., mouse) are not touch devices
@media (hover: hover) and (pointer: fine) {
    .mainOffer__page {
        .svgContainer {
            .svgDiv {
                width: 130%;
                left: -15%;
            }
        }
    }
}

// For touch devices (which typically can't hover and have coarse pointers), allow vertical scrolling
@media (hover: none) and (pointer: coarse) {
    .mainOffer__page {
        .svgContainer {
            .svgDiv {
                width: 100%;
                left: 0%;
            }
        }
    }
}

@media only screen and (max-width: 1750px) {
    .mainOffer__page {
        .textContainer {
            p {
                max-width: 70vw;
                font-size: 2.8em;
            }
        }
    }
}

@media only screen and (max-width: 1550px) {
    .mainOffer__page {
        height: 225vh;
        .textContainer {
            p {
                max-width: 70vw;
                font-size: 2.6em;
            }
        }
    }
}

@media only screen and (max-width: 1450px) {
    .mainOffer__page {
        height: 250vh;
        .textContainer {
            p {
                max-width: 70vw;
                font-size: 2.5em;
            }
        }
    }
}

@media only screen and (max-width: 1000px) and (min-height: 600px) {
    .mainOffer__page {
        height: 300vh;
        padding: 0vh 0 0vh 0;
        .main__container {
            padding: 5vh 0 5vh 0;
            .textContainer {
                padding: 25vh 0 15vh 0;
                p {
                    text-align: center;
                    max-width: 70vw;
                    font-size: 2.2em;
                    padding: 5em 0 0em 0;
                }
            }
            .description {
                .specialSpan {
                    font-size: 2.2em;
                }
                .dateY {
                    font-size: 1.5em;
                }
                .maintext {
                    font-size: 1.5em;
                    span {
                        &:nth-of-type(1) {
                            font-size: 3.5em;
                        }
                        &:nth-of-type(2) {
                            font-weight: 300;
                        }
                    }
                }
                .buttonContainer {
                    .button {
                        height: 70px;
                        width: 150px;
                        p {
                            font-size: 1.2rem;
                        }
                    }
                }
                .textSales {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p {
                        width: 80%;
                        font-size: 1.5em;
                        span {
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
}

// mobile version
@media only screen and (max-width: 450px) and (max-height: 950px) {
    .mainOffer__page {
        width: 100%;
        height: 320vh;
        .main__container {

            .textContainer {
                width: 90vw;
                p {
                    text-align: center;
                    max-width: 90vw;
                    font-size: 1.8em;
                }
            }
            .description {
                .specialSpan {
                    font-size: 2.2em;
                }
                .dateY {
                    font-size: 2em;
                }
                .text__button{
                    width: 90%;
                }
                .maintext {
                    font-size: 1.8em;
                    width: 90vw;
                    span {
                        &:nth-of-type(1) {
                            font-size: 2.5em;
                        }
                        &:nth-of-type(2) {
                            font-weight: 300;
                        }
                    }
                }
                .buttonContainer {
                    .button {
                        height: 80px;
                        width: 160px;
                        p {
                            font-size: 1.2rem;
                        }
                    }
                }
                .textSales {
                    p {
                        font-size: 1.5em;
                        span {
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) and (max-height: 950px) {
    .mainOffer__page {
        width: 100%;
        height: 340vh;
        .main__container {

            .textContainer {
                width: 90vw;
                p {
                    text-align: center;
                    max-width: 90vw;
                    font-size: 2em;
                }
            }
            .description {
                .specialSpan {
                    font-size: 2em;
                }
                .dateY {
                    font-size: 1.8em;
                }
                .maintext {
                    font-size: 1.6em;
                    width: 90vw;
                    span {
                        &:nth-of-type(1) {
                            font-size: 2.5em;
                        }
                        &:nth-of-type(2) {
                            font-weight: 300;
                        }
                    }
                }
                .buttonContainer {
                    .button {
                        height: 80px;
                        width: 160px;
                        p {
                            font-size: 1.2rem;
                        }
                    }
                }
                .textSales {
                    p {
                        font-size: 1.5em;
                        span {
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 950px) and (max-height: 450px) {
    .mainOffer__page {
        width: 100%;
        height: 350vh;
        padding: 110vh 0 15vh 0;
        .main__container {

            .textContainer {
                p {
                    text-align: center;
                    max-width: 70vw;
                    font-size: 2em;
                }
            }
            .description {
                .specialSpan {
                    font-size: 2.2em;
                }
                .dateY {
                    font-size: 2em;
                }
                .maintext {
                    font-size: 1.6em;
                    span {
                        &:nth-of-type(1) {
                            font-size: 2.5em;
                        }
                        &:nth-of-type(2) {
                            font-weight: 300;
                        }
                    }
                }
                .buttonContainer {
                    .button {
                        height: 80px;
                        width: 160px;
                        p {
                            font-size: 1.2rem;
                        }
                    }
                }
                .textSales {
                    width: 80%;
                    p {
                        font-size: 2em;
                        span {
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
}