.mainServiceAbout {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200vh;
    z-index: 1;
    position: relative;
    padding: 5rem 0;
    .serviceContainer{
        width: 100%;
        height: 100%;
        .mainText{
            position: absolute;
            top: 15%;
            right: 35%;
            p{
                font-size: 4em;
                font-weight: 400;
                color: #22272d;
                margin: 0;
                letter-spacing: 0.2rem;
            }
        }
        .services{
            gap: 5em;
            .contentContainer{
                position: absolute;
                width: 30%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 1;
                .title{
                    width: 100%;
                    text-align: left;
                    p{
                        font-size: 1.2em;
                        font-weight: 300;
                        color: #22272d;
                        margin: 0;
                        padding-bottom: 0.5rem;
                    }
                }
                .content{
                    width: 100%;
                    text-align: left;
                    padding: 1em 2em;
                    position: relative;
                    .braker{
                        position: absolute;
                        width: 80%;
                        height: 1px;
                        background-color: #22272d;
                        top: 2%;
                    }
                    p{
                        font-size: 2.5em;
                        font-weight: 400;
                        color: #22272d;
                        margin: 0;
                    }
                }
                &:nth-of-type(1){
                    top: -15%;
                    left: 5%;
                }
                &:nth-of-type(2){
                    top: 10%;
                    right: 35%;
                }
                &:nth-of-type(3){
                    top: 35%;
                    right: 5%;
                }
            }
        }
        .button{
            width: 200px;
            height: 200px;
            position: absolute;
            bottom: 15%;
            right: 40%;
            z-index: 2;
            .buttonLink {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: #22272d; 
                p{
                    font-size: 2em;
                    font-weight: 500;
                    margin: 0;
                    text-align: center;
                }
            }
        }
    } 
}

@media only screen and (max-width: 1550px) {
    .main {
        .serviceContainer{
            .mainText{
                p{
                    font-size: 4em;
                }
            }
            .services{
                .contentContainer{
                    position: absolute;
                    width: 30%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    z-index: 1;
                    .title{
                        width: 100%;
                        text-align: left;
                        p{
                            font-size: 1.2em;
                            font-weight: 300;
                            color: #22272d;
                            margin: 0;
                            padding-bottom: 0.5rem;
                        }
                    }
                    .content{
                        width: 100%;
                        text-align: left;
                        padding: 1em 2em;
                        position: relative;
                        .braker{
                            position: absolute;
                            width: 80%;
                            height: 1px;
                            background-color: #22272d;
                            top: 2%;
                        }
                        p{
                            font-size: 2em;
                            font-weight: 400;
                            color: #22272d;
                            margin: 0;
                        }
                    }
                    &:nth-of-type(1){
                        top: -15%;
                        left: 5%;
                    }
                    &:nth-of-type(2){
                        top: 10%;
                        right: 35%;
                    }
                    &:nth-of-type(3){
                        top: 35%;
                        right: 5%;
                    }
                }
            }
            .button{
                width: 180px;
                height: 180px;
                position: absolute;
                bottom: 10%;
                right: 40%;
                z-index: 2;
                .buttonLink {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-color: #22272d; 
                    p{
                        font-size: 1.8em;
                        font-weight: 500;
                        margin: 0;
                        text-align: center;
                    }
                }
            }
        } 
    }
}

@media only screen and (max-width: 1450px) {
    .main {
        .serviceContainer{
            .mainText{
                p{
                    font-size: 4em;
                }
            }
            .services{
                .contentContainer{
                    position: absolute;
                    width: 30%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    z-index: 1;
                    .title{
                        width: 100%;
                        text-align: left;
                        p{
                            font-size: 1.2em;
                            font-weight: 300;
                            color: #22272d;
                            margin: 0;
                            padding-bottom: 0.5rem;
                        }
                    }
                    .content{
                        width: 100%;
                        text-align: left;
                        padding: 1em 2em;
                        position: relative;
                        .braker{
                            position: absolute;
                            width: 80%;
                            height: 1px;
                            background-color: #22272d;
                            top: 2%;
                        }
                        p{
                            font-size: 2em;
                            font-weight: 400;
                            color: #22272d;
                            margin: 0;
                        }
                    }
                    &:nth-of-type(1){
                        top: -15%;
                        left: 5%;
                    }
                    &:nth-of-type(2){
                        top: 10%;
                        right: 35%;
                    }
                    &:nth-of-type(3){
                        top: 35%;
                        right: 5%;
                    }
                }
            }
            .button{
                width: 180px;
                height: 180px;
                position: absolute;
                bottom: 10%;
                right: 40%;
                z-index: 2;
                .buttonLink {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-color: #22272d; 
                    p{
                        font-size: 1.8em;
                        font-weight: 500;
                        margin: 0;
                        text-align: center;
                    }
                }
            }
        } 
    }
}

@media only screen and (max-width: 1250px) {
    .main {
        .serviceContainer{
            .mainText{
                p{
                    font-size: 3.5em;
                }
            }
            .services{
                .contentContainer{
                    position: absolute;
                    width: 35%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    z-index: 1;
                    .title{
                        width: 100%;
                        text-align: left;
                        p{
                            font-size: 1em;
                            font-weight: 300;
                            color: #22272d;
                            margin: 0;
                            padding-bottom: 0.5rem;
                        }
                    }
                    .content{
                        width: 100%;
                        text-align: left;
                        padding: 1em 2em;
                        position: relative;
                        .braker{
                            position: absolute;
                            width: 80%;
                            height: 1px;
                            background-color: #22272d;
                            top: 2%;
                        }
                        p{
                            font-size: 1.8em;
                            font-weight: 400;
                            color: #22272d;
                            margin: 0;
                        }
                    }
                    &:nth-of-type(1){
                        top: -15%;
                        left: 5%;
                    }
                    &:nth-of-type(2){
                        top: 10%;
                        right: 35%;
                    }
                    &:nth-of-type(3){
                        top: 35%;
                        right: 5%;
                    }
                }
            }
            .button{
                width: 150px;
                height: 150px;
                position: absolute;
                bottom: 10%;
                right: 45%;
                z-index: 2;
                .buttonLink {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-color: #22272d; 
                    p{
                        font-size: 1.5em;
                        font-weight: 500;
                        margin: 0;
                        text-align: center;
                    }
                }
            }
        } 
    }
}

@media only screen and (max-width: 1000px) and (min-width: 600px) {
    .main {
        position: relative;
        .serviceContainer{
            .mainText{
                p{
                    font-size: 3em;
                }
            }
            .services{
                .contentContainer{
                    width: 35%;
                    height: 100%;
                    .title{
                        width: 100%;
                        text-align: left;
                        p{
                            font-size: 1em;
                            font-weight: 300;
                            color: #22272d;
                            margin: 0;
                            padding-bottom: 0.5rem;
                        }
                    }
                    .content{
                        width: 100%;
                        .braker{
                            position: absolute;
                            width: 80%;
                            height: 1px;
                            background-color: #22272d;
                            top: 2%;
                        }
                        p{
                            font-size: 1.5em;
                            font-weight: 400;
                            color: #22272d;
                            margin: 0;
                        }
                    }
                    &:nth-of-type(1){
                        top: -10%;
                        left: 10%;
                    }
                    &:nth-of-type(2){
                        top: 10%;
                        right: 35%;
                    }
                    &:nth-of-type(3){
                        top: 30%;
                        right: 5%;
                    }
                }
            }
            .button{
                width: 150px;
                height: 150px;
                position: absolute;
                bottom: 15%;
                right: 45%;
                z-index: 2;
                .buttonLink {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-color: #22272d; 
                    p{
                        font-size: 1.5em;
                        font-weight: 500;
                        margin: 0;
                        text-align: center;
                    }
                }
            }
        } 
    }
}

@media only screen and (max-width: 1050px) and (min-height: 1000px) {
    .main {
        .serviceContainer{
            .mainText{
                position: absolute;
                top: 10%;
                left: 10%;
                p{
                    font-size: 5em;
                }
            }
            .services{
                .contentContainer{
                    position: absolute;
                    width: 40%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    z-index: 1;
                    .title{
                        width: 100%;
                        text-align: left;
                        p{
                            font-size: 1.2em;
                            font-weight: 300;
                            color: #22272d;
                            margin: 0;
                            padding-bottom: 0.5rem;
                        }
                    }
                    .content{
                        width: 100%;
                        text-align: left;
                        padding: 1em 2em;
                        position: relative;
                        .braker{
                            position: absolute;
                            width: 80%;
                            height: 1px;
                            background-color: #22272d;
                            top: 2%;
                        }
                        p{
                            font-size: 2em;
                            font-weight: 400;
                            color: #22272d;
                            margin: 0;
                        }
                    }
                    &:nth-of-type(1){
                        top: -15%;
                        left: 10%;
                    }
                    &:nth-of-type(2){
                        top: 10%;
                        right: 30%;
                    }
                    &:nth-of-type(3){
                        top: 30%;
                        right: 5%;
                    }
                }
            }
            .button{
                width: 160px;
                height: 160px;
                position: absolute;
                bottom: 20%;
                right: 50%;
                z-index: 2;
                .buttonLink {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-color: #22272d; 
                    p{
                        font-size: 1.5em;
                        font-weight: 500;
                        margin: 0;
                        text-align: center;
                    }
                }
            }
        } 
    }
}

@media only screen and (max-width: 900px) and (min-height: 800px){
    .main {
        .serviceContainer{
            .mainText{
                position: absolute;
                top: 10%;
                left: 10%;
                p{
                    font-size: 4.5em;
                }
            }
            .services{
                .contentContainer{
                    position: absolute;
                    width: 45%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    z-index: 1;
                    .title{
                        width: 100%;
                        text-align: left;
                        p{
                            font-size: 1em;
                            font-weight: 300;
                            color: #22272d;
                            margin: 0;
                            padding-bottom: 0.5rem;
                        }
                    }
                    .content{
                        width: 100%;
                        text-align: left;
                        padding: 1em 2em;
                        position: relative;
                        .braker{
                            position: absolute;
                            width: 80%;
                            height: 1px;
                            background-color: #22272d;
                            top: 2%;
                        }
                        p{
                            font-size: 1.8em;
                            font-weight: 400;
                            color: #22272d;
                            margin: 0;
                        }
                    }
                    &:nth-of-type(1){
                        top: -15%;
                        left: 10%;
                    }
                    &:nth-of-type(2){
                        top: 10%;
                        right: 30%;
                    }
                    &:nth-of-type(3){
                        top: 30%;
                        right: 5%;
                    }
                }
            }
            .button{
                width: 160px;
                height: 160px;
                position: absolute;
                bottom: 20%;
                right: 50%;
                z-index: 2;
                .buttonLink {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-color: #22272d; 
                    p{
                        font-size: 1.5em;
                        font-weight: 500;
                        margin: 0;
                        text-align: center;
                    }
                }
            }
        } 
    }
}


@media only screen and (max-width: 450px) and (max-height: 950px){
    .main {
        .serviceContainer{
            .mainText{
                position: absolute;
                top: 10%;
                left: 10%;
                width: 80%;
                p{
                    font-size: 3em;
                }
            }
            .services{
                .contentContainer{
                    position: absolute;
                    width: 65%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    z-index: 1;
                    .title{
                        width: 100%;
                        text-align: left;
                        p{
                            font-size: 1em;
                            font-weight: 300;
                            color: #22272d;
                            margin: 0;
                            padding-bottom: 0.5rem;
                        }
                    }
                    .content{
                        width: 100%;
                        text-align: left;
                        padding: 1em 2em;
                        position: relative;
                        .braker{
                            position: absolute;
                            width: 80%;
                            height: 1px;
                            background-color: #22272d;
                            top: 2%;
                        }
                        p{
                            font-size: 1.5em;
                            font-weight: 400;
                            color: #22272d;
                            margin: 0;
                        }
                    }
                    &:nth-of-type(1){
                        top: -10%;
                        left: 10%;
                    }
                    &:nth-of-type(2){
                        top: 5%;
                        right: 15%;
                    }
                    &:nth-of-type(3){
                        top: 20%;
                        right: 10%;
                    }
                }
            }
            .button{
                width: 160px;
                height: 160px;
                position: absolute;
                bottom: 5%;
                right: 50%;
                z-index: 2;
                .buttonLink {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-color: #22272d; 
                    p{
                        font-size: 1.5em;
                        font-weight: 500;
                        margin: 0;
                        text-align: center;
                    }
                }
            }
        } 
    }
}

@media only screen and (max-width: 400px) and (max-height: 950px){
    .main {
        .serviceContainer{
            .mainText{
                position: absolute;
                top: 10%;
                left: 10%;
                width: 80%;
                p{
                    font-size: 3em;
                }
            }
            .services{
                .contentContainer{
                    position: absolute;
                    width: 65%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    z-index: 1;
                    .title{
                        width: 100%;
                        text-align: left;
                        p{
                            font-size: 1em;
                            font-weight: 300;
                            color: #22272d;
                            margin: 0;
                            padding-bottom: 0.5rem;
                        }
                    }
                    .content{
                        width: 100%;
                        text-align: left;
                        padding: 1em 2em;
                        position: relative;
                        .braker{
                            position: absolute;
                            width: 80%;
                            height: 1px;
                            background-color: #22272d;
                            top: 2%;
                        }
                        p{
                            font-size: 1.5em;
                            font-weight: 400;
                            color: #22272d;
                            margin: 0;
                        }
                    }
                    &:nth-of-type(1){
                        top: -15%;
                        left: 10%;
                    }
                    &:nth-of-type(2){
                        top: 5%;
                        right: 15%;
                    }
                    &:nth-of-type(3){
                        top: 25%;
                        right: 10%;
                    }
                }
            }
            .button{
                width: 160px;
                height: 160px;
                position: absolute;
                bottom: 10%;
                right: 50%;
                z-index: 2;
                .buttonLink {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-color: #22272d; 
                    p{
                        font-size: 1.5em;
                        font-weight: 500;
                        margin: 0;
                        text-align: center;
                    }
                }
            }
        } 
    }
}