.introductionPreloader{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 101;
    svg{
        position: absolute;
        top: 0;
        width: 100%;
        height: calc(100% + 300px);
        path{
            fill: #22272d;
        }
    }
    .videoContainer{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow: hidden;
        .mainVideo{
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.4;
            z-index: 1;
        }
    }
    p{
        display: flex;
        color: #fff;
        font-size: 42px;
        align-items: center;
        position: absolute;
        z-index: 2;
        span{
            display: block;
            width: 10px;
            height: 10px;
            background-color: #fff;
            border-radius: 50%;
            margin-right: 10px;
        }
    }
}