.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-top: 40px;

    .info{
        display: flex;
        position: absolute;
        left: 0;
        gap: 30px;
        padding: 10px

        ul{
            width: 50%;
            margin-top: 10px;
            overflow: hidden;
            list-style-type: none;
            padding: 0;
        }
    
        li{
            flex-direction: column;
            list-style-type: none;
            p {
                padding-left: 10px;
                margin: 5px;
                font-size: 1.5em;
            }
            span{
                text-transform: uppercase;
                margin-right: 10px;
                color: #9f9689;
                margin: 0;
            }
        }
    }

    .terms {
        display: flex;
        gap: 5px;
        text-decoration: none;

        ul{
            display: flex;
            gap: 25px;
            overflow: hidden;
            list-style-type: none;
            padding: 20px;
        }
    
        li{

            a{
                font-size: 1.2em;
                text-decoration: none;
                color: #9f9689;
            }
        }
    }
}
