.mainParallaxZoom {
    width: 100vw;
    height: 300vh;
    position: relative;

    .bodySlider{
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100%;
        overflow: hidden;
        .sliderContainer{ 
            position: absolute;
            top: 275vh;
            .slider {
                position: relative;
                white-space: nowrap;
                font-size: 10em;

                p {
                    position: relative;
                    margin: 0;
                    padding-right: 50px;
                    color: #FF5508;
                    font-weight: 500;
                }
                p:nth-of-type(2) {
                    position: absolute;
                    left: 100%;
                    top: 0;
                    font-weight: 500;
                }
            }
        }
    }
   
    .container {
        position: sticky;
        height: 100vh;
        top: 0;
        overflow: hidden;
        .motionContainer {
            width: 100%;
            height: 100%;
            display: flex;
            position: absolute;
            top: 0;
            align-items: center;
            justify-content: center;

            .imageContainer {
                position: relative;
                width: 25vw;
                height: 25vh;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                video{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: 2;
                    cursor: none;
                    pointer-events: none;
                }
            }

            &:nth-of-type(2){
                .imageContainer{
                    top: -30vh;
                    left: 5vw;
                    width: 35vw;
                    height: 30vh;
                }
            }
            &:nth-of-type(3){
                .imageContainer{
                    top: -10vh;
                    left: -25vw;
                    width: 20vw;
                    height: 45vh;
                }
            }
            &:nth-of-type(4){
                .imageContainer{
                    left: 27.5vw;
                    width: 25vw;
                    height: 25vh;
                }
            }
            &:nth-of-type(5){
                .imageContainer{
                    top: 27.5vh;
                    left: 5vw;
                    width: 20vw;
                    height: 25vh;
                }
            }
            &:nth-of-type(6){
                .imageContainer{
                    top: 27.5vh;
                    left: -22.5vw;
                    width: 30vw;
                    height: 25vh;
                }
            }
            &:nth-of-type(7){
                .imageContainer{
                    top: 22.5vh;
                    left: 25vw;
                    width: 15vw;
                    height: 15vh;
                }
            }
        }
    }
}

@media only screen and (max-width: 1550px) {
    .mainParallaxZoom{
        .bodySlider{
            .sliderContainer{
                top: 280vh;
                .slider{
                    font-size: 8em;
                }
            }
        }
    }
}

@media only screen and (max-width: 1450px) {
    .mainParallaxZoom{
        .bodySlider{
            .sliderContainer{
                top: 280vh;
                .slider{
                    font-size: 7em;
                }
            }
        }
    }
}

@media only screen and (max-width: 1050px) and (min-height: 1000px) {
    .mainParallaxZoom {
        width: 100vw;
        height: 300vh;
    
        .bodySlider{
            .sliderContainer{ 
                position: absolute;
                top: 270vh;
                .slider {
                    font-size: 10em;
    
                    p {
                        padding-right: 50px;
                        color: #FF5508;
                        font-weight: 600;
                    }
                    p:nth-of-type(2) {
                        left: 100%;
                        top: 0;
                        font-weight: 500;
                    }
                }
            }
        }
       
        .container {
            .motionContainer {
    
                .imageContainer {
                    width: 30vw;
                    height: 25vw;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    video{
                        width: 100%;
                        height: 100%;
                    }
                }
                &:nth-of-type(1){
                    z-index: 2;
                }
    
                &:nth-of-type(2){
                    .imageContainer{
                        top: -30vh;
                        left: 5vw;
                        width: 35vw;
                        height: calc(35vw * 0.625);
                    }
                }
                &:nth-of-type(3){
                    .imageContainer{
                        top: -10vh;
                        left: -35vw;
                        width: calc(45vh * 0.825);
                        height: 45vh;
                    }
                }
                &:nth-of-type(4){
                    .imageContainer{
                        left: 30vw;
                        width: 25vw;
                        height: calc(25vw * 0.725);
                    }
                }
                &:nth-of-type(5){
                    .imageContainer{
                        top: 27.5vh;
                        left: 5vw;
                        width: 20vw;
                        height: calc(20vw * 0.725);
                    }
                }
                &:nth-of-type(6){
                    .imageContainer{
                        top: 27.5vh;
                        left: -22.5vw;
                        width: 30vw;
                        height: calc(30vw * 0.825);
                    }
                }
                &:nth-of-type(7){
                    .imageContainer{
                        top: 22.5vh;
                        left: 25vw;
                        width: 15vw;
                        height: calc(15vw * 0.825);
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 900px) and (min-height: 800px) {
    .mainParallaxZoom {
        width: 100vw;
        height: 300vh;
    
        .bodySlider{
            .sliderContainer{ 
                position: absolute;
                top: 280vh;
                .slider {
                    font-size: 9em;
    
                    p {
                        padding-right: 50px;
                        color: #FF5508;
                        font-weight: 600;
                    }
                    p:nth-of-type(2) {
                        left: 100%;
                        top: 0;
                        font-weight: 500;
                    }
                }
            }
        }
       
        .container {
            .motionContainer {
    
                .imageContainer {
                    width: 40vw;
                    height: 35vw;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    video{
                        width: 100%;
                        height: 100%;
                    }
                }
                &:nth-of-type(1){
                    z-index: 2;
                }
    
                &:nth-of-type(2){
                    .imageContainer{
                        top: -25vh;
                        left: 5vw;
                        width: 35vw;
                        height: calc(35vw * 0.625);
                    }
                }
                &:nth-of-type(3){
                    .imageContainer{
                        top: -10vh;
                        left: -40vw;
                        width: calc(35vh * 0.825);
                        height: 35vh;
                    }
                }
                &:nth-of-type(4){
                    .imageContainer{
                        left: 35vw;
                        width: 25vw;
                        height: calc(25vw * 0.725);
                    }
                }
                &:nth-of-type(5){
                    .imageContainer{
                        top: 25vh;
                        left: 5vw;
                        width: 20vw;
                        height: calc(20vw * 0.725);
                    }
                }
                &:nth-of-type(6){
                    .imageContainer{
                        top: 27.5vh;
                        left: -22.5vw;
                        width: 30vw;
                        height: calc(30vw * 0.825);
                    }
                }
                &:nth-of-type(7){
                    .imageContainer{
                        top: 22.5vh;
                        left: 27.5vw;
                        width: 20vw;
                        height: calc(20vw * 0.825);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 450px) and (max-height: 950px) {
    .mainParallaxZoom {
        width: 100vw;
        height: 300vh;
    
        .bodySlider{
            .sliderContainer{ 
                position: absolute;
                top: 275vh;
                .slider {
                    font-size: 9em;
    
                    p {
                        padding-right: 50px;
                        color: #FF5508;
                        font-weight: 600;
                    }
                    p:nth-of-type(2) {
                        left: 100%;
                        top: 0;
                        font-weight: 500;
                    }
                }
            }
        }
       
        .container {
            .motionContainer {
    
                .imageContainer {
                    width: 40vh;
                    height: 60vw;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    video{
                        width: 100%;
                        height: 100%;
                    }
                }
                &:nth-of-type(1){
                    z-index: 2;
                }
    
                &:nth-of-type(2){
                    .imageContainer{
                        top: -25vh;
                        left: 5vw;
                        width: 35vw;
                        height: calc(35vw * 0.625);
                    }
                }
                &:nth-of-type(3){
                    .imageContainer{
                        top: -10vh;
                        left: -40vw;
                        width: calc(35vh * 0.825);
                        height: 35vh;
                    }
                }
                &:nth-of-type(4){
                    .imageContainer{
                        left: 35vw;
                        width: 25vw;
                        height: calc(25vw * 0.725);
                    }
                }
                &:nth-of-type(5){
                    .imageContainer{
                        top: 25vh;
                        left: 5vw;
                        width: 20vw;
                        height: calc(20vw * 0.725);
                    }
                }
                &:nth-of-type(6){
                    .imageContainer{
                        top: 27.5vh;
                        left: -22.5vw;
                        width: 30vw;
                        height: calc(30vw * 0.825);
                    }
                }
                &:nth-of-type(7){
                    .imageContainer{
                        top: 22.5vh;
                        left: 27.5vw;
                        width: 20vw;
                        height: calc(20vw * 0.825);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 950px) and (max-height: 450px) {
    .mainParallaxZoom {
        width: 100vw;
        height: 300vh;
    
        .bodySlider{
            .sliderContainer{ 
                position: absolute;
                top: 260vh;
                .slider {
                    font-size: 6em;
    
                    p {
                        padding-right: 50px;
                        color: #FF5508;
                        font-weight: 600;
                    }
                    p:nth-of-type(2) {
                        left: 100%;
                        top: 0;
                        font-weight: 500;
                    }
                }
            }
        }
       
        .container {
            .motionContainer {
    
                .imageContainer {
                    width: 30vw;
                    height: 20vw;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    video{
                        width: 100%;
                        height: 100%;
                    }
                }
                &:nth-of-type(1){
                    z-index: 2;
                }
    
                &:nth-of-type(2){
                    .imageContainer{
                        top: -40vh;
                        left: 5vw;
                        width: 35vw;
                        height: calc(35vw * 0.625);
                    }
                }
                &:nth-of-type(3){
                    .imageContainer{
                        top: -15vh;
                        left: -40vw;
                        width: calc(35vh * 0.825);
                        height: 35vh;
                    }
                }
                &:nth-of-type(4){
                    .imageContainer{
                        left: 35vw;
                        top: -5%;
                        width: 25vw;
                        height: calc(25vw * 0.725);
                    }
                }
                &:nth-of-type(5){
                    .imageContainer{
                        top: 35vh;
                        left: 5vw;
                        width: 20vw;
                        height: calc(20vw * 0.725);
                    }
                }
                &:nth-of-type(6){
                    .imageContainer{
                        top: 37.5vh;
                        left: -27.5vw;
                        width: 30vw;
                        height: calc(30vw * 0.825);
                    }
                }
                &:nth-of-type(7){
                    .imageContainer{
                        top: 22.5vh;
                        left: 27.5vw;
                        width: 20vw;
                        height: calc(20vw * 0.825);
                    }
                }
            }
        }
    }
}