.mainNewestWork {
    height: 80vh;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 20rem;
    z-index: 1;
    .title{
        display: flex;
        padding: 0 11rem;
        p {
            font-size: 1.3em;
            font-weight: 300;
            margin: 0;
        }
    }
    .section {
        display: flex;
        align-items: center;
        width: 100%;
    }
}

@media only screen and (max-height: 850px){
    .mainNewestWork {
        height: 80vh;
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 15rem;
        z-index: 1;
        .title{
            display: flex;
            padding: 0 11rem;
            p {
                font-size: 1.3em;
                font-weight: 300;
                margin: 0;
            }
        }
        .section {
            display: flex;
            align-items: center;
            width: 100%;
        }
    }
}

@media only screen and (max-height: 800px){
    .mainNewestWork {
        height: 90vh;
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 12rem;
        z-index: 1;
        .title{
            display: flex;
            padding: 0 11rem;
            p {
                font-size: 1.3em;
                font-weight: 300;
                margin: 0;
            }
        }
        .section {
            display: flex;
            align-items: center;
            width: 100%;
        }
    }
}

@media only screen and (max-width: 900px) and (min-height: 800px){
    .mainNewestWork {
        height: 90vh;
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 12rem;
        z-index: 1;
        .title{
            display: flex;
            padding: 0 6rem;
            p {
                font-size: 1.3em;
                font-weight: 300;
                margin: 0;
            }
        }
        .section {
            display: flex;
            align-items: center;
            width: 100%;
        }
    }
}



@media only screen and (max-width: 450px) and (max-height: 950px){
    .mainNewestWork {
        height: 80vh;
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 20rem;
        z-index: 1;
        .title{
            display: flex;
            padding: 0 3rem;
            p {
                font-size: 1.3em;
                font-weight: 300;
                margin: 0;
            }
        }
        .section {
            display: flex;
            align-items: center;
            width: 100%;
        }
    }
}

@media only screen and (max-width: 950px) and (max-height: 450px){
    .mainNewestWork {
        height: 130vh;
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 20rem;
        z-index: 1;
        .title{
            display: flex;
            padding: 0 11rem;
            p {
                font-size: 1.3em;
                font-weight: 300;
                margin: 0;
            }
        }
        .section {
            display: flex;
            align-items: center;
            width: 100%;
        }
    }
}

@media only screen and (max-width: 700px) and (max-height: 380px){
    .mainNewestWork {
        height: 130vh;
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 20rem;
        z-index: 1;
        .title{
            display: flex;
            padding: 0 6rem;
            p {
                font-size: 1.3em;
                font-weight: 300;
                margin: 0;
            }
        }
        .section {
            display: flex;
            align-items: center;
            width: 100%;
        }
    }
}
